{% extends 'app/base.html' %}
{% load static %}
{% block title %}Historia{% endblock title %}
{% block main-content %}

<div class="container my-5">
    <h1 class="heading"><span>Nossa História</span></h1>
    <br>
    <div class="row">
        <div class="content">
            <!--h4>Sobre nós</h4-->
            <p align="justify">
                Bem-vindo a <strong>Normalize!</strong> Nós acreditamos que a proteção individual é uma necessidade fundamental para manter a saúde e segurança de todos. É por isso que oferecemos uma ampla gama de produtos de alta qualidade, desde máscaras faciais até luvas e óculos de proteção.
                Nosso objetivo é tornar a proteção individual acessível para todos, sem comprometer a qualidade. Por isso, todos os nossos produtos são fabricados com materiais de alta qualidade e passam por rigorosos controles de qualidade antes de serem disponibilizados para venda. Além disso, oferecemos preços competitivos para garantir que você obtenha o melhor valor por seu dinheiro.
            </p>
            <p align="justify">
                Não importa qual seja a sua necessidade de proteção individual, nós temos você coberto. Nossas máscaras faciais são confortáveis e disponíveis em uma ampla variedade de tamanhos e estilos, incluindo máscaras descartáveis e máscaras reutilizáveis. Nossas luvas de proteção são ideais para aplicações industriais, médicas e domésticas, e oferecemos opções para atender a todas as suas necessidades.Ao escolher o Normalize, você está escolhendo a tranquilidade de saber que está protegido. Nós nos esforçamos para fornecer os melhores produtos de proteção individual e atendimento ao cliente excepcional. Entre em contato conosco hoje mesmo para obter mais informações sobre nossos produtos e como podemos ajudá-lo a proteger sua saúde e segurança.
                Escolha o Normalize e sinta-se seguro.
            </p>     
        </div>
    </div>
    <br>

    <div class="row">
        <div class="content">
            <h4>Missão</h4>
            <p align="justify">Nossa missão é fornecer produtos de proteção individual de alta qualidade a preços acessíveis, com o objetivo de promover a saúde e segurança de todos. Acreditamos que a proteção individual é uma necessidade fundamental e queremos torná-la acessível para todos.</p>

            <h4>Visão</h4>
            <p align="justify">Nossa visão é ser reconhecido como líder em proteção individual, oferecendo soluções inovadoras e de qualidade para nossos clientes. Queremos ser o primeiro lugar a ser considerado quando alguém precisar de proteção para si ou para sua empresa.</p>

            <h4>Valores</h4>
            <p align="justify">Em tudo o que fazemos, seguimos os seguintes valores:</p>
            <ul>
                <li><strong>Integridade:</strong> sempre agimos de forma ética e transparente em todas as nossas ações</li>
                <li><strong>Qualidade:</strong> acreditamos em fornecer apenas os melhores produtos de proteção individual e sempre buscamos a excelência em nossos produtos e atendimento ao cliente</li>
                <li><strong>Inovação:</strong> estamos constantemente procurando novas maneiras de melhorar nossos produtos e oferecer soluções inovadoras para nossos clientes</li>
                <li><strong>Responsabilidade social:</strong> entendemos a importância da proteção individual e queremos fazer a nossa parte para promover a saúde e segurança de todos</li>
            </ul>

            <p align="justify">Estes valores guiam tudo o que fazemos e nos permitem oferecer produtos de proteção individual de qualidade a preços acessíveis. Juntos, nós podemos fazer a diferença e proteger aqueles que mais amamos.</p>       
        </div>
    </div>
</div>
{% endblock main-content %}