{% extends 'app/base.html' %}
{% load static %}
{% block title %}Protetor Facial{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
    <div class="list-group">
        <a href="{% url 'protetorFacial' %}" class="list-group-item
        list-group-item-action" aria-current="true">Mostrar Tudo</a>
        <a href="{% url 'protetorFacialdata' '3M' %}" class="list-group-item
        list-group-item-action" aria-current="true">3M</a>
        <a href="{% url 'protetorFacialdata' 'Montana' %}" class="list-group-item
        list-group-item-action" aria-current="true">Montana</a>
        <a href="{% url 'protetorFacialdata' 'Floresta' %}" class="list-group-item
        list-group-item-action" aria-current="true">Floresta</a>
        <a href="{% url 'protetorFacialdata' 'Camper' %}" class="list-group-item
        list-group-item-action">Camper</a>
        <a href="{% url 'protetorFacialdata' 'abaixo' %}" class="list-group-item
        list-group-item-action">Abaixo de R$ 50,00</a>
        <a href="{% url 'protetorFacialdata' 'acima' %}" class="list-group-item
        list-group-item-action">Acima de R$ 50,00</a>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="row">
        {% for product in protetorFacial %}
        <div class="col-sm-4 text-center mb-4">
            <a href="{% url 'product-detail' product.id %}" class="btn">
                <div class="item">
                    <img src="{{product.product_image.url}}" alt="" height="150" class="">
                    <div class="fw-bold">{{product.title}}</div>
                    <div class="fw-bold">R$ {{product.discounted_price}}
                    <small class="fw-light text-decoration-line-through">{{product.selling_price}}</small></div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
  </div>
 </div>
</div>
{% endblock main-content %}